{{!-- matches mealUpdate.js --}}

<h1>{{meal_name}}</h1>
<p>Description: {{description}}</p>
<p>Meal Date: {{meal_date}}</p>
<p>Calories: {{calories}}</p>
<p>Meal Type: {{meal_type}}</p>
<p>User ID: {{user_id}}</p>