{{!-- to match workoutUpdate.js --}}

<p>
    user: {{user_id}}
</p>
<p>
    workout_name: {{workout_name}}
</p>
<p>
    workout_description: {{workout_description}}
</p>
<p>
    date_created {{date_created}}
</p>
<p>
    duration {{duration}}
</p>
<p>
    workout_type {{workout_type}}
</p>
<p>
    calories_burnt {{calories_burnt}}
</p>



