 <div id="renderWorkout">
                {{#each user.workouts as |workout|}}
                <p>{{workout.workout_name}}</p>
                <p> {{workout.duration}}</p>
                <p> {{workout.workout_description}}</p>
                <p> {{workout.workout_type}}</p>
                <p> {{workout.calories_burnt}}</p>
                {{/each}}
               </div>



              <section>

                <form action="form">
                    <div>
                        <h3>What's your workout Name?</h3>
                        <input id= "workoutName" type="text"> 
                      </div>
              
                      <div>
                        <h3>What Category does your workout into?</h3>
                        <select name="workoutType" id="workoutType">
                          <option value="stretching">stretching</option>
                          <option value="cardio">cardio</option>
                          <option value="strengthTraining">strength training</option>
                          <option value="conditionalTraining">conditional training</option>
                        <option value="sport">sport</option>
                        </select>
                        <option value="calesthetics">calesthetics</option>
                      </div>

                      <div>
                        <h3>Provide a Workout Description!</h3>
                        <input id="workoutDescription"type="text">
                      </div>
  
                      <div>
                        <h3>How many calories did you burn today!?</h3>
                        <input id="workoutCalories"type="text">
                      </div>

                    <div>
                        <h3>How long was your workout today?</h3>
                        <input id="workoutDuration"type="text">
                    </div>
                      <button id="newWorkoutBtn">Add Workout</button>
                </form>
            </section>







      <script src="/js/workoutsAll.js"></script>